
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #3498db;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: #57aae1;
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 80vh;
  background-size: cover;
  position: relative;
  background-position: center;
  margin-top: 6.8vh;  /* Isko change krna hai*/
  padding: 0;

}

#hero .row{
  height: 60vh;
}

#hero .col-left{
  position: relative;
}

#hero .col-right{
  position: relative;
}

#hero .container-fluid{
  width: 90%;
}
#myVideo{
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height:min-content;
  outline: 5px solid rgb(76, 75, 75);
  outline-offset: 15px;
  border-radius: 10px;
}


#hero .textbox{
  color: black;
  position: absolute;
  left: 0;
  top: 35%;
  width: 90%;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 2em;
  font-weight: 700;
  line-height: 56px;
  color: black;
}
#hero h1 span {
  border-bottom: 4px solid #3498db;
}
#hero h2 {
  color: black;
  margin-bottom: 30px;
  font-size: 1.4em;
  word-wrap: break-word;
}
#hero .btn-get-started {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 2px;
  display: inline-block;
  padding: 12px 28px;
  border-radius: 4px;
  transition: ease-in-out 0.3s;
  color: #fff;
  background: #3498db;
  text-transform: uppercase;
}
#hero .btn-get-started:hover {
  background: #4ea5e0;
}

@media (max-width: 992px) {
  #myVideo{
    outline: none;
    outline-offset: 0px;
    border-radius: 0;
  }
  #hero .container-fluid{
    width: 100%;
  }

  #hero .col-left{
    display: none;
  }

  #hero {
    height: 35vh !important;
  }

  
}

@media (max-width: 768px) {
  #hero {
    max-height: 30vh;
  }
}



section{
  padding: 20px 0px;
}
.section-bg {
  background-color: #f7f7f7;
}
.section-bgimg{
  background-image: url("https://img.freepik.com/free-vector/white-abstract-background-design_23-2148825582.jpg?t=st=1653986881~exp=1653987481~hmac=90ede3053f56eb957c95c213b5ce5abd6f8d5404d1055f059535c7677bdf6c87&w=2000");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

/*--------------------------------------------------------------
# Services Section
--------------------------------------------------------------*/

.our-services{
  margin-top: 5vh;
}



/*--------------------------------------------------------------
# Resources Section
--------------------------------------------------------------*/
#resources{
  padding: 40px 0 80px 0;
  position: relative;
  /* background-image: url("https://img.freepik.com/free-vector/gradient-dark-dynamic-lines-background_23-2148995950.jpg?t=st=1654023704~exp=1654024304~hmac=1ef9ef38ea06ed9f4b895880df8b69d32472e4a1080291bcf4bad93eb431af67&w=2000");
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
   */
}

#resources h1{
  margin-bottom: 20px;
}


/*--------------------------------------------------------------
# Trending Model Services
--------------------------------------------------------------*/
#trending-model-services{
  padding: 40px 0;
}
.services h1{
  margin-bottom: 30px;
}
.services .icon-box {
  text-align: center;
  padding: 70px 20px 80px 20px;
  transition: all ease-in-out 0.3s;
  background: #fff;
}
.services .icon-box .icon {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.3s;
  position: relative;
}
.services .icon-box .icon i {
  font-size: 36px;
  transition: 0.5s;
  position: relative;
}
.services .icon-box .icon svg {
  position: absolute;
  top: 0;
  left: 0;
}
.services .icon-box .icon svg path {
  transition: 0.5s;
  fill: #f5f5f5;
}
.services .icon-box h4 {
  font-weight: 600;
  margin: 10px 0 15px 0;
  font-size: 22px;
}
.services .icon-box h4 a {
  color: #111;
  transition: ease-in-out 0.3s;
}
.services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}
.services .icon-box:hover {
  border-color: #fff;
  box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
}
.services .iconbox-blue i {
  color: #47aeff;
}
.services .iconbox-blue:hover .icon i {
  color: #fff;
}
.services .iconbox-blue:hover .icon path {
  fill: #47aeff;
}
.services .iconbox-orange i {
  color: #ffa76e;
}
.services .iconbox-orange:hover .icon i {
  color: #fff;
}
.services .iconbox-orange:hover .icon path {
  fill: #ffa76e;
}
.services .iconbox-pink i {
  color: #e80368;
}
.services .iconbox-pink:hover .icon i {
  color: #fff;
}
.services .iconbox-pink:hover .icon path {
  fill: #e80368;
}
.services .iconbox-yellow i {
  color: #ffbb2c;
}
.services .iconbox-yellow:hover .icon i {
  color: #fff;
}
.services .iconbox-yellow:hover .icon path {
  fill: #ffbb2c;
}
.services .iconbox-red i {
  color: #ff5828;
}
.services .iconbox-red:hover .icon i {
  color: #fff;
}
.services .iconbox-red:hover .icon path {
  fill: #ff5828;
}
.services .iconbox-teal i {
  color: #11dbcf;
}
.services .iconbox-teal:hover .icon i {
  color: #fff;
}
.services .iconbox-teal:hover .icon path {
  fill: #11dbcf;
}

@media (max-width: 992px) {
  .services .icon-box {
    width: 90%;
    margin: 0 auto;
    padding: 30px 20px 50px 20px;
  }
}





/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #fff;
  color: #212529;
  font-size: 14px;
}
#footer .footer-newsletter {
  padding: 50px 0;
  text-align: center;
  font-size: 15px;
}
#footer .footer-newsletter h4 {
  
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  color: #4e4039;
}
#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  text-align: left;
}
#footer .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px 4px;
  width: calc(100% - 100px);
}
#footer .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #eb5d1e;
  color: #fff;
  transition: 0.3s;
  border-radius: 4px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
#footer .footer-newsletter form input[type=submit]:hover {
  background: #c54811;
}
#footer .footer-top {
  padding: 60px 0 30px 0;
}
#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}
#footer .footer-top .footer-contact h4 {
  font-size: 22px;
  margin: 0 0 30px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}
#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Poppins", sans-serif;
  color: #5c5c5c;
}
#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #212529;
  position: relative;
  padding-bottom: 12px;
}
#footer .footer-top .footer-links {
  margin-bottom: 30px;
}
#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #f39e7a;
  font-size: 18px;
  line-height: 1;
}
#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}
#footer .footer-top .footer-links ul a {
  color: #5c5c5c;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}


.xyz a{
  font-size: 25px;
  margin-right:15px;
}
#footer .copyright {
  text-align: center;
}

@media (max-width: 575px) {
  #footer .copyright, #footer .credits {
    float: none;
    -moz-text-align-last: center;
    text-align-last: center;
    padding: 3px 0;
  }
}



